{% extends 'base.html' %}
{% load  bootstrap4 %}

{% block content %}

<div id="content" class="container edit_form">
    <h1 class='row justify-content-center mt-4 mb-3'>Project Information</h1>
    
    {% if project.pk %}
        <p class='row justify-content-center'>Edit your information.</p>
    {% endif %}

    <form class='form' enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            {% bootstrap_field form.description %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {% bootstrap_field form.date %}
            </div>
            <div class="form-group col-md-6">
                {% bootstrap_field form.expiration_date %}
            </div>
        </div>
        
        <div class="form-group">
            {% bootstrap_field form.street %}
        </div>
            
        <div class="form-row">
            <div class="form-group col-md-5">
                {% bootstrap_field form.city %}
            </div>
            <div class="form-group col-md-5">
                {% bootstrap_field form.state %}
            </div>
            <div class="form-group col-md-2">
                {% bootstrap_field form.zip_code %}
            </div>
        </div>

        <div class="form-group">
            {% bootstrap_field form.reimbursement placeholder='$$' %}
        </div>
       
        {% buttons %}
            <div class="row justify-content-center">
                <button type="submit" class='btn btn-primary mx-1'>Submit</button>
                {% if project.pk %}
                        <a href="{% url 'landing' %}" class='btn btn-secondary mx-1'>Cancel</a>
                {% endif %}
            </div>
        {% endbuttons %}
        
    </form>
</div>

{% endblock %}