{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content%}

<div class="container edit_form">
    <h2 class='row justify-content-center mt-4'>Edit User Information</h2>

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            {% bootstrap_field form.username %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {% bootstrap_field form.first_name %}
            </div>
            <div class="form-group col-md-6">
                {% bootstrap_field form.last_name %}
            </div>
        </div>

        <div class="form-group">
            {% bootstrap_field form.email %}
        </div>
        
        {% buttons %}
            <div class="row justify-content-center">
                <input class="btn btn-primary mx-1" type="submit" value="Update">
                <a class="btn btn-secondary mx-1" href="{% url 'landing' %}">Cancel</a>
            </div>
        {% endbuttons %}
    </form>
</div>

{% endblock %}