{% extends 'base.html' %}
{% block content%}

<h2>User Edit</h2>

<form action="{% url 'register_edit' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="">Username:</label>
        {{user_form.username}}
        <label for="">First Name:</label>
        {{user_form.first_name}}
        <label for="">Last Name:</label>
        {{user_form.last_name}}
        <label for="">Email Address:</label>
        {{user_form.email}}
    </div>
    <input class="btn btn-primary" type="submit" value="Update">
    <a class="btn btn-secondary" href="{% url 'landing' %}">Cancel</a>
</form>

{% endblock %}