{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container edit_form">
    <h2 class='row justify-content-center mt-4'>Regstration Form</h2>
    <form class='form' method="POST">
        {% csrf_token %}
                
        <div class="form-group">
            {% bootstrap_field form.username %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {% bootstrap_field form.first_name %}
            </div>
            <div class="form-group col-md-6">
                {% bootstrap_field form.last_name %}
            </div>
        </div>

        <div class="form-group">
            {% bootstrap_field form.email %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {% bootstrap_field form.password1 %}
            </div>
            <div class="form-group col-md-6">
                {% bootstrap_field form.password2 %}
            </div>
        </div>
        
        {% buttons %}
            <div class="row justify-content-center">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        {% endbuttons %}
    </form>
</div>

{% endblock %}