{% extends 'base.html' %}
{% load bootstrap4%}
{% bootstrap_messages %}

{% block content %}
<div class="container">
    <div class="form">
        <form action="{% url 'labor_create' %}" method="POST">
            {% csrf_token %}
            <h2 class='text-center mt-4'>Add Labor</h2>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    {% bootstrap_field labor_form.date %}
                </div>
                <div class="form-group col-md-6">
                    {% bootstrap_field labor_form.total_hours %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    {% bootstrap_field labor_form.chainsaw_hours %}
                </div>
                <div class="form-group col-md-4">
                    {% bootstrap_field labor_form.small_equip_hours %}
                </div>
                <div class="form-group col-md-4">
                    {% bootstrap_field labor_form.large_equip_hours %}
                </div>
            </div>

            {% buttons %}        
                <div class="text-center">
                    <input class='btn btn-primary' type="submit" value='Add'>
                </div>
            {% endbuttons %}
        </form>
    </div>
    <hr>
    <div>
        <h2 class="text-center mt-5">Labor Log</h2>
        <table class="table table-bordered">
            <thead>
                <th>Date</th>
                <th>Total Hours</th>
                <th>Chainsaw Hours</th>
                <th>Small Equipment Hours</th>
                <th>Large Equipment Hours</th>
                <th></th>
            </thead>
            {% if labor %}
                {% for labor in labor %}
                    <tr>
                        <td>
                            <a href="{% url 'labor_edit' pk=labor.pk %}">{{ labor.date }}</a> 
                        </td>
                        <td>{{ labor.total_hours }}</td>
                        <td>{{ labor.chainsaw_hours }}</td>
                        <td>{{ labor.small_equip_hours }}</td>
                        <td>{{ labor.large_equip_hours }}</td>
                        <td><a href="{% url 'labor_delete' pk=labor.pk %}">Delete</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            {% endif %}
        </table>
        <p>* Click on a date to edit the entry</p>
    </div>
    
</div>
{% endblock %}