* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: solid 1px black;
    background-color: beige;
}

#header_title {
    width: 50%;
    display: inline;
}

#header_links {
    float: right;
    height: 37px;
    line-height: 37px;
    margin: auto;
    padding: 0 15px 0 15px;
}

#header_links > a {
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: black;
}

.container {
    overflow-y: auto;
    overflow-x: auto;
    min-width: 370px;
}

footer {
    background-color: beige;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.form {
    padding: 20px;
}