{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div id="content" class="container">
    <div class="jumbotron py-3">
        <div >
            <h3 class='text-center mb-4'>Project Details</h3>
            <p >Project Owner: {{ user.first_name|capfirst }} {{user.last_name|capfirst}}</p>
            <p>Project Address: {{ project.street }}, {{ project.city }}, {{ project.state }} {{ project.zip_code }}</p>
            <p>Project Initiation Date: {{ project.date }}</p>
            <p>Project Expiration Date: {{ project.expiration_date }}</p>
            <p>Project Description: {{ project.description }} </p>
            <p class='h6 my-4 text-center'>You have <strong>{{project.expiration_date|timeuntil}}</strong> to complete your project and receive the maximum reimbursement amount of <strong>${{ project.reimbursement }}</strong>.</p>
            
            <a href="{% url 'project_edit' pk=project.pk %}">Edit Project Details</a>
        </div>
    </div>
    
    

    <p class='text-justify'>The total cost for the project is <strong>${{total_cost}}</strong> so far.  You have spent <strong>${{rental_sum}}</strong> on rental equipment and the amount earned on your labor and equipment is <strong>${{labor_cost}}0</strong>.</p>
    
    <div class="progress mt-4">
        <div class="progress-bar" role='progressbar' style='width: {{completion}}%' aria-valuenow='24' aria-valuemin='0' aria-valuemax='100'>${{total_cost}}</div>    
    </div>
    <div class="text-center">
        <p>This progress bar indicates your progress toward meeting your project cost goal of 2X the maximum reimbursement amount.</p>
    </div>
        
    {% if not pdf %}
        <p id="pdf_span_holder" class='mt-4'>Click <span id='add_pdf'>Here</span> if you want to add the pdf version of your cost share applicaiton.</p>
    {% endif %}

    {% for pdf in pdf %}
        <p class="mt-5">Click <span><a href="{{pdf.url}}">Here</a></span> to view your cost share application.  If you uploaded the wrong file or have an updated file click <span><a href="{% url 'delete_pdf' pk=pdf.pk %}">Here</a></span> to delete the current file. </p> 
    {% empty %}
        <div id='add_pdf_div' class="row justify-content-center" style="visibility: hidden;">
            <form action="{% url 'add_pdf' pk=project.pk %}" class='form' enctype='multipart/form-data' method="POST">
                {% csrf_token %}

                {% bootstrap_form pdf_form %}

                {% buttons %}
                    <div class="row justify-content-center">
                        <button id="submit_pdf" type="submit" class='btn btn-primary mx-1'>Submit</button>
                    </div>
                {% endbuttons %}
                <div id="wait_message" class="spinner" style="visibility: hidden;"></div>
            </form>
        </div>
    {% endfor %}

</div>


{% endblock %}