{% extends 'base.html' %}
{% block content %}

<div id="content" class="container">
    <div class='mt-4'>
        <h3>Project Owner: {{ user.first_name|capfirst }} {{user.last_name|capfirst}}</h3>
        <p>Project Description: {{ project.description }} </p>
        <p>Project Initiation Date: {{ project.date }}</p>
        <p>Project Expiration Date: {{ project.expiration_date }}</p>
        <p>Reimbursement Target: ${{ project.reimbursement }}</p>
        <p>You have {{project.expiration_date|timeuntil}} to complete your project</p>
    </div>
    <div>
        <p>Project Address: {{ project.street }}, {{ project.city }}, {{ project.state }} {{ project.zip_code }}</p>
        <a href="{% url 'project_edit' pk=project.pk %}">Edit Project</a>
    </div>
</div>

{% endblock %}