{% extends 'base.html' %}
{% block content %}

<div class="container edit_form">
    <h2>Edit Rental Entry</h2>

    <form action="{% url 'rental_edit' rental.id %}" method="POST">
        {% csrf_token %}
        
        {% for field in rental_form %}
           <div class="mb-3">
              {{ field.label_tag}}
              {{ field }}
           </div> 
        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-secondary" href="{% url 'landing' %}">Cancel</a>
    </form>
</div>
{% endblock %}