{% extends 'base.html' %}
{% load bootstrap4%}

{% block content %}

<div class="container edit_form">
    <h2 class='text-center mt-4'>Edit Rental Entry</h2>

    <form method="POST">
        {% csrf_token %}
        
        {% for field in form %}
           <div class="mb-3">
              {% bootstrap_field field %}
           </div> 
        {% endfor %}

        {% buttons %}
        <div class='text-center'>
            <input class="btn btn-primary mx-1" type="submit" value="Submit">
            <a class="btn btn-secondary mx-1" href="{% url 'rental_create' %}">Cancel</a>
        </div>
        
        {% endbuttons %}
    </form>
</div>
{% endblock %}