{% extends 'base.html' %}
{% block content %}

<h1>hello project edit</h1>

<form action="{% url 'project_edit' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="">Description:</label>
        {{project_form.description}}
        <label for="">Date:</label>
        {{project_form.date}}
        <label for="">Street:</label>
        {{project_form.street}}
        <label for="">City:</label>
        {{project_form.city}}
        <label for="">State:</label>
        {{project_form.state}}
        <label for="">Zip Code:</label>
        {{project_form.zip_code}}
    </div>
    <input type="submit" value="Make Changes">
    <a href="{% url 'landing' %}">
        <button>Cancel</button>
    </a>
</form>
{% endblock %}